.Order {
  width: 80%;
  height: fit-content;
  margin-bottom: 5rem;
  padding: 2rem 3rem;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #f7ef99;
}

.Order h4 {
  color: #fd9974;
  font-weight: 400;
  font-size: 2rem;
}

.Order section {
  margin: 2.1rem;
  display: flex;

  justify-content: space-around;
}

.Price {
  font-size: 1.5rem;
  background-color: #fffabf;
  width: fit-content;
  padding: 0.6rem 1.1rem;
  border-radius: 2rem;
}

.Price span {
  font-size: 1.5rem;
  color: #abe188;
  font-weight: bold;
}

.Ingredients p {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  border-bottom: 2px solid #fd9974;
}

.Ingredients ul {
  list-style: none;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.Info p {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  border-bottom: 2px solid #fd9974;
}

.Info span {
  display: block;
  font-size: 1.4rem;
}

.Info ul {
  list-style: none;
}

.Info div {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.Method {
  margin-top: 1rem;
}
