.Burger {
  width: 100%;
  margin-top: 6vh;
  overflow-y: auto;

  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
}

.Text {
  color: #5d675b;
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

@media only screen and (max-width: 700px) {
  .Burger {
    height: 40%;
    margin-top: 2rem;
  }
}
