.Toolbar {
  height: 7vh;
  width: 100%;
  background-color: #f7ef99;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 5rem;
  z-index: 90;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Toolbar nav {
  flex: 0 0 50%;
  height: 100%;
  width: 100%;
}

.Toolbar ul {
  justify-content: flex-end;
}

.AppLogo {
  flex: 0 1 70%;

  height: 80%;
}

.SideDrawerButton {
  display: none;
}

@media only screen and (min-width: 1450px) {
  .Toolbar nav {
    flex: 0 0 20%;
  }

  .AppLogo {
    flex: 0 1 80%;
  }
}

@media only screen and (max-width: 700px) {
  .Toolbar {
    flex-direction: row;
  }

  .Toolbar nav {
    display: none;
  }
}
