.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 1.2rem 2rem;
  margin: 10px;
  font-weight: 400;
  font-size: 1.9rem;
  border-radius: 1.5rem;
}

.Green {
  background-color: #abe188;
}

.Green:hover {
  background-color: #b8f093;
}

.Red {
  background-color: #f78e69;
}

.Red:hover {
  background-color: #fd9974;
}

.Button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
