.NavItem {
  height: 100%;
  width: fit-content;

  display: flex;
}

.NavItem a {
  padding: 1rem 2rem;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #fd9974;

  display: flex;
  align-items: center;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.Active {
  background-color: #fffabf;
}

@media only screen and (max-width: 700px) {
  .NavItem {
    text-align: center;
    width: 100%;
    height: fit-content;

    align-items: center;
  }

  .NavItem a:hover,
  .NavItem a:active,
  .NavItem a.Active {
    background-color: #fffabf;
    border-left: 0.3rem solid #fd9974;
  }

  .NavItem a {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
} ;
