.SideDrawerButton {
  display: block;
  background-color: #fd9974;
  width: 3rem;
  height: 0.35rem;
  border-radius: 0.2rem;
}

.SideDrawerButton::before {
  content: '';
  display: block;
  background-color: #fd9974;
  width: 3rem;
  height: inherit;
  transform: translateY(0.7rem);
  border-radius: 0.2rem;
}

.SideDrawerButton::after {
  content: '';
  display: block;
  background-color: #fd9974;
  width: 3rem;
  height: inherit;
  transform: translateY(-1rem);
  border-radius: 0.2rem;
}
