.SideDrawerButton {
  height: 100%;
  width: 12%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.SideDrawerButton div {
  display: block;
  height: 0.45rem;
  width: 90%;
  background-color: #fd9974;
  margin: 0.4rem 0;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 701px) {
  .SideDrawerButton {
    display: none;
  }
}
