.WholeContainer {
  height: 100vh;
}

.BurgerContent {
  /* margin-top: 6vh; */
  height: 100vh;
  background-color: #fffabf;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
