.Input {
  width: 100%;
  padding: 1rem;
}

.Label {
  display: block;
  margin-bottom: 0.8rem;
}

.InputElement {
  display: block;
  outline: none;
  border: none;
  width: 100%;
  padding: 1.5rem 2.5rem;
  border-radius: 5rem;
  font-family: inherit;
}

.InputElement:focus {
  outline: none;
  padding: 1.5rem 2.5rem;
}

.Invalid {
  border: .3rem solid #f78e69;
}

.Valid {
  border: .3rem solid #abe188;
}

.ErrorMessage {
  text-align: left;
  padding-left: 2.8rem;
  margin-top: 0.2rem;
}